In [13]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns

In [14]:
iris = sns.load_dataset('iris')

In [15]:
# 1) a
iris.groupby('species').agg(['mean','std','min','max','count']).round(2)

           sepal_length                       sepal_width                  \
                   mean   std  min  max count        mean   std  min  max
species
setosa             5.01  0.35  4.3  5.8    50        3.43  0.38  2.3  4.4
versicolor         5.94  0.52  4.9  7.0    50        2.77  0.31  2.0  3.4
virginica          6.59  0.64  4.9  7.9    50        2.97  0.32  2.2  3.8

                 petal_length                       petal_width             \
           count         mean   std  min  max count        mean   std  min
species
setosa        50         1.46  0.17  1.0  1.9    50        0.25  0.11  0.1
versicolor    50         4.26  0.47  3.0  5.1    50        1.33  0.20  1.0
virginica     50         5.55  0.55  4.5  6.9    50        2.03  0.27  1.4


            max count
species
setosa      0.6    50
versicolor  1.8    50
virginica   2.5    50

In [16]:
lower = Q1-1.5*(Q3-Q1)
lower                       #이거보다 작은 데이터는 이상치

NameError: name 'Q1' is not defined

In [ ]:
upper = Q3 + 1.5*(Q3-Q1)
upper                        #이거보다 큰 데이터는 이상치

sepal_length     8.35
sepal_width      4.05
petal_length    10.35
petal_width      4.05
dtype: float64

In [ ]:
s = iris[iris.species == 'setosa']['sepal_length']
s

In [ ]:
Q1 = s.quantile(0.25)
Q3 = s.quantile(0.75)
lower = Q1-1.5*(Q3-Q1)
upper = Q3+1.5*(Q3-Q1)
lower, upper

(4.199999999999999, 5.800000000000001)

In [ ]:
s[(s<lower)|(s>upper)] = np.nan

In [ ]:
s.mean() , s.std()

(5.005999999999999, 0.3524896872134512)

In [ ]:
def iris_mestd(x,y):
    d = iris[iris.species==x][y]
    Q1 = d.quantile(0.25)
    Q3 = d.quantile(0.75)
    lower = Q1 - 1.5*(Q3-Q1)
    upper = Q3 + 1.5*(Q3-Q1)
    d[(d<lower)|(d>upper)] = np.nan
    return d.mean(),d.std()

In [ ]:
iris_mestd('setosa','sepal_length')

(5.005999999999999, 0.3524896872134512)

In [ ]:
iris_mestd('setosa','sepal_width')

(3.4312500000000004, 0.32034306743094015)

In [ ]:
iris_mestd('setosa','petal_length')

(1.4608695652173913, 0.12906201931985212)

In [ ]:
iris_mestd('setosa','petal_width')

(0.23333333333333328, 0.08588298157855664)

In [ ]:
iris_mestd('versicolor','sepal_length')

(5.936, 0.5161711470638635)

In [ ]:
iris_mestd('versicolor','sepal_width')

(2.7700000000000005, 0.3137983233784114)

In [ ]:
iris_mestd('versicolor','petal_length')

(4.285714285714285, 0.4377975178854565)

In [ ]:
iris_mestd('versicolor','petal_width')

(1.3259999999999998, 0.197752680004544)

In [ ]:
iris_mestd('virginica','sepal_length')

(6.6224489795918355, 0.593459246748267)

In [ ]:
iris_mestd('virginica','sepal_width')

(2.95531914893617, 0.26027452951125174)

In [ ]:
iris_mestd('virginica','petal_length')

(5.552, 0.5518946956639835)

In [ ]:
iris_mestd('virginica','petal_width')

(2.026, 0.27465005563666733)

In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns

In [ ]:
#2번문제
Titanic = sns.load_dataset('titanic')
Titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
titanic['adult/child'] = titanic.age.apply(lambda x: 'adult' if x > 20 else 'child')

In [ ]:
# 2) a
Titanic['category1'] = Titanic.age.apply(lambda x: Titanic['sex'] if x > 20 else 'child')
Titanic.head(20)

AttributeError: 'builtin_function_or_method' object has no attribute 'get_indexer'

In [ ]:
# 2)b 
Titanic.age.mean()

29.69911764705882

In [ ]:
Titanic.age.fillna(Titanic.age.mean(),inplace=True)
Titanic.round(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,category1
0,0,3,male,22.0,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False,k
1,1,1,female,38.0,1,0,71.28,C,First,woman,False,C,Cherbourg,yes,False,k
2,1,3,female,26.0,0,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True,k
3,1,1,female,35.0,1,0,53.10,S,First,woman,False,C,Southampton,yes,False,k
4,0,3,male,35.0,0,0,8.05,S,Third,man,True,NaN,Southampton,no,True,k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True,k
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True,child
888,0,3,female,29.7,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False,child
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True,k
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,k

In [ ]:
# 2 ) 
Titanic.groupby('sex')[['survived']].mean().round(2)

        survived
sex
female      0.74
male        0.19

In [ ]:
Titanic.groupby('class')[['survived']].mean().round(2)

        survived
class
First       0.63
Second      0.47
Third       0.24

In [ ]:
Titanic.groupby('embark_town')[['survived']].mean().round(2)

             survived
embark_town
Cherbourg        0.55
Queenstown       0.39
Southampton      0.34

In [17]:
# 3번문제)
mpg = sns.load_dataset('mpg')
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [18]:
# a)
mpg['hp_per_cc'] = ( mpg['horsepower']/mpg['displacement'] *100).round(2)
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,hp_per_cc
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,42.35
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,47.14
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,47.17
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,49.34
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,46.36
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,61.43
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,53.61
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,62.22
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,65.83
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,68.91

In [19]:
# b)
k = mpg['name'].str.split()
mpg['manufacturer'] = k.str[0]
mpg.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,hp_per_cc,manufacturer
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,42.35,chevrolet
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,47.14,buick
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,47.17,plymouth

In [20]:
k = mpg['name'].str.split()
mpg['model'] = k.str[1:]
del mpg['name']
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,hp_per_cc,manufacturer,model
0,18.0,8,307.0,130.0,3504,12.0,70,usa,42.35,chevrolet,"[chevelle, malibu]"
1,15.0,8,350.0,165.0,3693,11.5,70,usa,47.14,buick,"[skylark, 320]"
2,18.0,8,318.0,150.0,3436,11.0,70,usa,47.17,plymouth,[satellite]
3,16.0,8,304.0,150.0,3433,12.0,70,usa,49.34,amc,"[rebel, sst]"
4,17.0,8,302.0,140.0,3449,10.5,70,usa,46.36,ford,[torino]
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,61.43,ford,"[mustang, gl]"
394,44.0,4,97.0,52.0,2130,24.6,82,europe,53.61,vw,[pickup]
395,32.0,4,135.0,84.0,2295,11.6,82,usa,62.22,dodge,[rampage]
396,28.0,4,120.0,79.0,2625,18.6,82,usa,65.83,ford,[ranger]
397,31.0,4,119.0,82.0,2720,19.4,82,usa,68.91,chevy,[s-10]

In [21]:
#c
mpg.groupby('cylinders')[['mpg']].mean().round(2)

             mpg
cylinders
3          20.55
4          29.29
5          27.37
6          19.99
8          14.96

In [22]:
#d
mpg.groupby('origin')[['hp_per_cc']].mean().round(2)

        hp_per_cc
origin
europe      74.00
japan       78.95
usa         51.21

In [ ]:
# 폐지된 주소는 삭제되도록 필터링
df = df[df['폐지여부'] == '존재']
len(df)

In [37]:
#e
np.nan = mpg.groupby('manufacturer')['model'].count() >5

In [38]:
mpg.groupby('manufacturer')['model']

TypeError: cannot convert the series to <class 'float'>

In [35]:
mpg.groupby('manufacturer')['model'].dropna()

TypeError: 'bool' object is not callable